engine-strict=true
@joshuafolkken:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
minimum-release-age=1440
confirmModulesPurge=false
lockfile-include-tarball-url=true
